<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.modules.preplan.mapper.ContingencyPlanMapper">

    <select id="countNotCompletedByTerminalId" resultType="java.lang.Integer">
        select count(*) from T_CONTINGENCY_RECORD c inner join T_CONTINGENCY_RECORD_R_TERMINA r on c.id = r.RECORD_ID
        where r.TERMINAL_ID = #{terminalId} and c.IS_COMPLETED = 0
    </select>
</mapper>