<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.modules.preplan.mapper.ContingencyRecordTerminalMapper">

    <select id="getByTerminalId" resultType="com.hss.modules.preplan.entity.ContingencyRecordTerminal">
        select r.* from T_CONTINGENCY_RECORD_R_TERMINA r inner join T_CONTINGENCY_RECORD m on m.ID = r.RECORD_ID
        where TERMINAL_ID = #{terminalId} and m.IS_COMPLETED = 0
    </select>
    <select id="listTerminalIdByStageId" resultType="java.lang.String">
        select r.TERMINAL_ID from T_CONTINGENCY_RECORD_STAGE s inner join T_CONTINGENCY_RECORD_R_TERMINA r on s.PLAN_ID = r.RECORD_ID where s.ID = #{stageId}
    </select>
</mapper>