<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.modules.message.mapper.DutyShiftsMapper">

    <select id="listByDateAndDutyId" resultType="com.hss.modules.message.entity.DutyShifts">
        select * from BASE_DUTY_SHIFTS where  DATE &gt;= #{start} and DATE &lt; #{end} AND DUTY_ID = #{dutyId} order by DATE
    </select>
    <select id="getGroupIdByDateAndDutyId" resultType="java.lang.String">
        select DUTY_GROUP_ID from BASE_DUTY_SHIFTS where DUTY_ID =  #{dutyId} and DATE = #{date}
    </select>
    <select id="listHistory" resultType="com.hss.modules.message.dto.DutyHistoryVO">
        select i.NAME dutyName, s.DATE dutyDate, s.NAME groupName, s.SHIFTS shiftsJson from T_PUBLISH_DUTY i inner join BASE_DUTY_SHIFTS s on i.ID = s.DUTY_ID
        where s.DATE &lt; #{dto.endDate}
        <if test="dto.dutyId != null and dto.dutyId != ''">and s.DUTY_ID = #{dto.dutyId}</if>
        <if test="dto.startDate != null"> and s.DATE &gt;= #{dto.startDate} </if> order by s.DATE desc
    </select>
</mapper>