<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.modules.spare.mapper.ReceiptOrderMapper">

    <select id="page" resultType="com.hss.modules.spare.entity.ReceiptOrderEntity">
        select * from BP_RECEIPT_ORDER <where>
        <if test="dto.orderType != null">ORDER_TYPE = #{dto.orderType}</if>
        <if test="dto.supplierId != null and dto.supplierId != ''">and SUPPLIER_ID = #{dto.supplierId}</if>
        <if test="dto.orderNo != null and dto.orderNo != ''">and ORDER_NO = #{dto.orderNo}</if>
        <if test="dto.receiptDateStart != null">and RECEIPT_DATE &gt;= #{dto.receiptDateStart}</if>
        <if test="dto.receiptDateEnd != null">and RECEIPT_DATE &lt;= #{dto.receiptDateEnd}</if>
    </where>
     order by ID desc
    </select>
</mapper>