<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.modules.door.mapper.DoorPersonMapper">

    <select id="listAllId" resultType="java.lang.String">
        select ID from DOOR_PERSON
    </select>
    <select id="getByCardNumber" resultType="com.hss.modules.door.entity.DoorPersonSys">
        select p.* from DOOR_PERSON p left join DOOR_PERSON_CARD c on p.PERSON_ID = c.PERSON_ID where c.CARD_NO = #{cardNumber}
    </select>
</mapper>