<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.modules.ventilation.mapper.PlanPresettingMapper">

    <select id="listByDeviceId" resultType="com.hss.modules.ventilation.vo.PlanListVO">
        select * from T_VENTILATION_PLAN_PRESETTING where DDC_ID = #{deviceId}
    </select>
</mapper>