<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.modules.system.mapper.BaseRemindMapper">

<update id="updateValue" >
    update BASE_REMIND set value =#{value}
        where id = #{id}
</update></mapper>